<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>116554461187-v7vpdmodra4rec7l85ijm5ol67v8rntj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116554461187-v7vpdmodra4rec7l85ijm5ol67v8rntj</string>
	<key>API_KEY</key>
	<string>AIzaSyBWPru4zO-xL5OXaQm7crduxWIn5K5BbfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>116554461187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ls-sys.dicerosmovil</string>
	<key>PROJECT_ID</key>
	<string>diceros-movil</string>
	<key>STORAGE_BUCKET</key>
	<string>diceros-movil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116554461187:ios:79e04a0c635a0ba1</string>
	<key>DATABASE_URL</key>
	<string>https://diceros-movil.firebaseio.com</string>
</dict>
</plist>